.main-btn {
    font-size: 14px;
    font-family: "Roboto",serif;
    font-weight: 500;
    font-style: normal;
    border: none;
    height: 51px;
    padding: 12px 27px;
    border-radius: 3px;
    color: #fff;
    background-color: #178fe2;
  }
  