// Thin-100-normal
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto'),
    url(../fonts/Roboto/Roboto-Thin.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-Thin.woff) format('woff'),
    url(../fonts/Roboto/Roboto-Thin.ttf) format('ttf'),
    url(../fonts/Roboto/Roboto-Thin.eot) format('eot');
  }
  
  // Thin-100-italic
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto'),
    url(../fonts/Roboto/Roboto-ThinItalic.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-ThinItalic.woff) format('woff'),
    url(../fonts/Roboto/Roboto-ThinItalic.ttf) format('ttf'),
    url(../fonts/Roboto/Roboto-ThinItalic.eot) format('eot');
  }
  
  // Light-300-normal
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'),
    url(../fonts/Roboto/Roboto-Light.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-Light.woff) format('woff'),
    url(../fonts/Roboto/Roboto-Light.ttf) format('ttf'),
    url(../fonts/Roboto/Roboto-Light.eot) format('eot');
  }
  
  // Light-300-italic
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto'),
    url(../fonts/Roboto/Roboto-LightItalic.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-LightItalic.woff) format('woff'),
    url(../fonts/Roboto/Roboto-LightItalic.ttf) format('ttf'),
    url(../fonts/Roboto/Roboto-LightItalic.eot) format('eot');
  }
  
  // Regular-400-normal
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
    url(../fonts/Roboto/Roboto-Regular.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-Regular.woff) format('woff'),
    url(../fonts/Roboto/Roboto-Regular.ttf) format('ttf'),
    url(../fonts/Roboto/Roboto-Regular.eot) format('eot');
  }
  
  // Medium-500-normal
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto'),
    url(../fonts/Roboto/Roboto-Medium.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-Medium.woff) format('woff'),
    url(../fonts/Roboto/Roboto-Medium.ttf) format('ttf'),
    url(../fonts/Roboto/Roboto-Medium.eot) format('eot');
  }
  
  // Medium-500-italic
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto'),
    url(../fonts/Roboto/Roboto-MediumItalic.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-MediumItalic.woff) format('woff'),
    url(../fonts/Roboto/Roboto-MediumItalic.ttf) format('ttf'),
    url(../fonts/Roboto/Roboto-MediumItalic.eot) format('eot');
  }
  
  
  // Bold-700-normal
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'),
    url(../fonts/Roboto/Roboto-Bold.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-Bold.woff) format('woff'),
    url(../fonts/Roboto/Roboto-Bold.ttf) format('ttf'),
    url(../fonts/Roboto/Roboto-Bold.eot) format('eot');
  }
  
  // Bold-700-italic
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto'),
    url(../fonts/Roboto/Roboto-BoldItalic.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-BoldItalic.woff) format('woff'),
    url(../fonts/Roboto/Roboto-BoldItalic.ttf) format('ttf'),
    url(../fonts/Roboto/Roboto-BoldItalic.eot) format('eot');
  }
  
  // Black-900-normal
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto'),
    url(../fonts/Roboto/Roboto-Black.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-Black.woff) format('woff'),
    url(../fonts/Roboto/Roboto-Black.ttf) format('ttf'),
    url(../fonts/Roboto/Roboto-Black.eot) format('eot');
  }
  
  // Black-900-italic
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto'),
    url(../fonts/Roboto/Roboto-BlackItalic.woff2) format('woff2'),
    url(../fonts/Roboto/Roboto-BlackItalic.woff) format('woff'),
    url(../fonts/Roboto/Roboto-BlackItalic.ttf) format('ttf'),
    url(../fonts/Roboto/Roboto-BlackItalic.eot) format('eot');
  }
  