.logo {
    h3 {
      font-family: "Roboto", serif;
      font-style: normal;
      font-weight: 500;
      line-height: 12px;
      font-size: 22px;
      color: #586784;
    }
  
    h5 {
      font-family: "Roboto", serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
    }
  }
  