@import "~bootstrap/scss/bootstrap";
@import "modules/logo";
@import "modules/buttons";
@import "modules/fonts";
@import "modules/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee !important;
}

#root {
 // width: 100vw;
 // height: 100vh;
}

.auth-form {
  border-radius: 5px;
  background-color: #fff;
  width: 434px;
  height: 450px;
  overflow: hidden;

  > div:first-child {
    border-bottom: $main-border;
    flex: 2;
  }

  > div:nth-child(2) {
    flex: 8;
    color: $main-text-color;
    label {
      font-family: "Roboto",serif;
      font-weight: 400;
      font-size: 15px;
      font-style: normal;
      padding: 0;
      margin-bottom: 10px;
    }
    input {
      padding-left: 20px;
      font-size: 14px;
      height: 45px;
    }
  }

  > div:last-child {
    border-top: $main-border;
    background-color: #f5f5f5;
    flex: 2;
    p {
      font-size: 0.80rem;
      color: #586784;
    }
    button {
      font-size: 0.83rem;
      font-family: "Roboto", serif;
      font-style: normal;
      font-weight: 500;
    }
  }
}
